.p{
    display: flex;
    flex-direction: column;
    margin: -40px;
    justify-content: center;
    align-items: center;
}
.p h2{
    color: #2626f0;
    font-size: 40px;
}
.p form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.p input{
    background-color:  antiquewhite;
    border: .5px solid black;
    border-radius: 4px;
    height: 25px;
    width: 210px;
}
.p button{
    background-color:  green;
    color: white;
    border: transparent;
    border-radius: 8px;
    height: 40px;
    width: 90px;
}