body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -30px;
}
.h{
    color: red;
    font-size: 50px;
}